<header id="header">
			<div id="header-wrap" class="border-0">
				<div class="container">
					<div class="header-row justify-content-lg-between px-4 px-xl-0">

						<!-- Logo
						============================================= -->
						<div class="order-1 order-lg-1 text-lg-center p-lg-4 py-3 mt-lg-5">
							<img src="img/person-thumb.jpg" alt="Canvas Logo" class="rounded-circle square square-lg mb-lg-3 d-none d-lg-inline-block">
							<div class="">
								<h3 class="mb-0 fw-normal lh-1">Pliff Jenkins</h3>
								<p class="mb-0 op-06 fw-light">Canvas Researcher</p>
							</div>
						</div><!-- #logo end -->

						<div class="primary-menu-trigger order-3 order-lg-2 ms-auto ms-sm-3">
							<button class="cnvs-hamburger" type="button" title="Open Mobile Menu">
								<span class="cnvs-hamburger-box"><span class="cnvs-hamburger-inner"></span></span>
							</button>
						</div>

						<div class="header-misc order-2 order-lg-last ms-auto d-none d-sm-flex">
							<div class="d-flex justify-content-center w-100 py-4">
								<a href="#" class="social-icon si-small rounded-circle bg-contrast-200 mx-lg-1 h-bg-facebook" style="--cnvs-socialicon-border: 0; --cnvs-socialicon-lineheight: 2rem">
									<i class="fa-brands fa-facebook-f"></i>
									<i class="fa-brands fa-facebook-f"></i>
								</a>

								<a href="#" class="social-icon si-small rounded-circle bg-contrast-200 mx-lg-1 h-bg-x-twitter" style="--cnvs-socialicon-border: 0; --cnvs-socialicon-lineheight: 2rem">
									<i class="fa-brands fa-x-twitter"></i>
									<i class="fa-brands fa-x-twitter"></i>
								</a>

								<a href="#" class="social-icon si-small rounded-circle bg-contrast-200 mx-lg-1 h-bg-instagram" style="--cnvs-socialicon-border: 0; --cnvs-socialicon-lineheight: 2rem">
									<i class="fa-brands fa-instagram"></i>
									<i class="fa-brands fa-instagram"></i>
								</a>

								<a href="#" class="social-icon si-small rounded-circle bg-contrast-200 mx-lg-1 h-bg-linkedin" style="--cnvs-socialicon-border: 0; --cnvs-socialicon-lineheight: 2rem">
									<i class="fa-brands fa-linkedin"></i>
									<i class="fa-brands fa-linkedin"></i>
								</a>
							</div>
						</div>

						<!-- Primary Navigation
						============================================= -->
						<nav class="primary-menu order-last order-lg-2">

							<ul class="menu-container one-page-menu" data-easing="easeInOutExpo" data-speed="1250" data-offset="0">
								<li class="menu-item"><a class="menu-link" href="#" data-href="#section-about"><div><i class="bi-person-circle"></i> About</div></a></li>
								<li class="menu-item"><a class="menu-link" href="#" data-href="#section-works"><div><i class="bi-briefcase"></i> Works</div></a></li>
								<li class="menu-item"><a class="menu-link" href="#" data-href="#section-experience"><div><i class="bi-person-gear"></i> Experience</div></a></li>
								<li class="menu-item"><a class="menu-link" href="#" data-href="#section-journal"><div><i class="bi-journal-text"></i> Journal</div></a></li>
								<li class="menu-item"><a class="menu-link" href="#" data-href="#section-research"><div><i class="bi-binoculars"></i> Research</div></a></li>
								<li class="menu-item"><a class="menu-link" href="#" data-href="#section-blog"><div><i class="bi-pencil"></i> Blog</div></a></li>
								<li class="menu-item"><a class="menu-link" href="#" data-href="#section-contact"><div><i class="bi-envelope-open"></i> Contact</div></a></li>
							</ul>

						</nav><!-- #primary-menu end -->

					</div>
				</div>
			</div>
			<div class="header-wrap-clone"></div>
		</header><!-- #header end -->