  <!-- Rn footer area Start -->
    <div id="footer" class="rn-footer-area footer-style-2 rn-section-gapTop section-separator">

        <div class="copyright text-center pb--40">
            <p class="title"><a target="_blank" href="#">© @DateTime.Now.Year Tüm Hakları Saklıdır.</a></p>
        </div>
    </div>
