 <!-- Start Header -->
    <header class="rn-header haeder-default black-logo-version header--fixed header--sticky">
        <div class="header-wrapper rn-popup-mobile-menu m--0 row align-items-center">
            <!-- Start Header Left -->
            <div class="col-lg-2 col-6">
                <div class="header-left">
                    <div class="logo">
                        <a href="index.html">
                            <img src="/UserTemplate/assets/images/logo/logo-dark.png" alt="logo">
                        </a>
                    </div>
                </div>
            </div>
            <!-- End Header Left -->
            <!-- Start Header Center -->
            <div class="col-lg-10 col-6">
                <div class="header-center">
                    <nav id="sideNav" class="mainmenu-nav navbar-example2 d-none d-xl-block">
                        <!-- Start Mainmanu Nav -->
                        <ul class="primary-menu nav nav-pills">
                            <li class="nav-item"><a class="nav-link smoth-animation active" href="#aboutMe">Hakkımda</a></li>
                            <li class="nav-item"><a class="nav-link smoth-animation" href="#educations">Eğitim</a></li>
                            <li class="nav-item"><a class="nav-link smoth-animation" href="#experiences">İş Deneyimi</a></li>
                            <li class="nav-item"><a class="nav-link smoth-animation" href="#resume">Yetkinlikler</a></li>
                            <li class="nav-item"><a class="nav-link smoth-animation" href="#portfolio">Projeler</a></li>
                            @* <li class="nav-item"><a class="nav-link smoth-animation" href="#blog">Blog</a></li> *@
                            <li class="nav-item"><a class="nav-link smoth-animation" href="#footer">Footer</a></li>
                        </ul>
                        <!-- End Mainmanu Nav -->
                    </nav>
                    <!-- Start Header Right  -->
                    <!-- End Header Right  -->

                </div>
            </div>
            <!-- End Header Center -->
        </div>
    </header>