@{
    Layout = "_AdminLayout";
}



<div class="card">
    <div class="card-datatable text-nowrap">
        <div class="card-header flex-column flex-md-row">
            <div class="head-label" style="display:flex;justify-content:space-between;align-items:center">

                <span class="badge rounded-pill bg-label-primary">
                    <h5 class="card-title text-primary mb-0">Hakkında</h5>
                </span>
                <button id="aboutMe-insert-button"
                    class="btn btn-secondary create-new btn-primary waves-effect waves-light" tabindex="0"
                    aria-controls="DataTables_Table_0" type="button">
                    <span>
                        <i class="ti ti-plus"></i>
                        <span class="d-none d-sm-inline-block">Insert</span>
                    </span>
                </button>
            </div>
        </div>
        <table class="datatables-ajax table dataTable no-footer" id="myTable" aria-describedby="DataTables_Table_0_info"
            style="width: 1384px;">
            <thead>
                <th>Id</th>
                <th>Hakkında</th>
            </thead>
        </table>
    </div>
</div>




<div class="modal fade" id="aboutMe-insert-Modal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="display: flex; justify-content: center;">
                <h3 class="modal-title">About Me Insert / Update</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">

                        <textarea class="summernote" name="editordata"></textarea>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <span class="bs-stepper-circle-x me-1"><i class="ti ti-circle-x ti-sm"></i></span>
                    Close</button>
                <button type="button" class="btn btn-primary">
                    <span class="bs-stepper-circle me-1"><i class="ti ti-check ti-sm"></i></span>
                    Save</button>
            </div>
        </div>
    </div>
</div>





@section Scripts {
    <script>
        //toastr.success('Bildirim metni.');

        var AboutMeInsertButton = $("#aboutMe-insert-button");
        var AboutMeInsertModal = $("#aboutMe-insert-Modal");


        AboutMeInsertButton.on("click", function () {
            AboutMeInsertModal.modal("show");
        });

        var columnOptions = [
            { data: 'Id' },
            { data: 'About' }
        ];

        ListTable = DataTablePrepare("myTable", "/AboutMe/GetAll", columnOptions);

    </script>
}